* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #c0ebf9;
}

h1 {
  font-weight: bold;
  font-size: 24px;
  color: #467745;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.targy {
  font-weight: medium;
  font-size: 16px;
  max-width: 600px;
  height: 64px;
  color: #467745;
}

.targy::placeholder {
  font-size: 16px;
  color: #467745;
}

.checkboxes {
  letter-spacing: 0.2em;
  width: 500px;
  display: flex;
  flex-direction: column;
}

.checkbox1 {
  font-size: 16px;
  color: #467745;
  display: grid;
  grid-template-columns: 25px auto;
}

.checkbox2 {
  font-size: 16px;
  color: #467745;
  display: grid;
  grid-template-columns: 25px auto;
}

.megjegyzes {
  font-size: 16px;
  max-width: 600px;
  height: 120px;
  color: #467745;
}

.container {
  width: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
}

.mentes {
  font-weight: bold;
  font-size: 21px;
  background-color: #467745;
  color: #c0ebf9;
  width: 280px;
  height: 80px;
}

.feedback {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

@media only screen and (max-width: 640px) {
  .feedback > input {
    margin: 0 20px;
    width: 100%;
  }

  .targy {
    margin: 0 20px;
    width: 100%;
  }

  h1 {
    text-align: left;
  }

  .megjegyzes {
    margin: 0 20px;
  }
}
